<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-blog.title%></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<%-header%>

<body>

    <div id="blog-title">

        <h1 id="title">
            <%=blog.title%>
        </h1>
        <h2>subtitle here subtitle here subtitle here </h2>

        <div id="author-data">
            <p>
               By <%=userName%>
            </p>
            <div>
                <p>
                    <%=data%>
                </p>
            </div>
            <p>
                <%=blog.tags%>
            </p>
            <p>
                <img src= '<%=pathImageHtml%>' alt=""> 
            </p>
        </div>

    </div>
    <main>
        <article>
                
            <div id="blog-text-space">
                
                <div id="blog-text">
                    <%for(paragraph of paragraphs){%>
                        <p><%=paragraph%></p><br>
                    <%}%>
                </div>

            </div>

        </article>
    </main>

    <div id="comments" >
        <%if(blogComments.length>0){%>
            <h1> Seção dos comentários </h1>
            <%for(let i=0;i<blogComments.length;i++){%>

                <div class="userComment-div">

                    <div class="userComment-div-line1">
                        <p class="userComment-p-author">Author: <%=blogComments[i].authorName%></p>
                        <p class="userComment-p-date">Data: <%=newDates[i]%></p>
                    </div>
                    <p class="userComment-p-text"><%=blogComments[i].text%></p>

                </div>

            <%}%>

        <%}else{%>
            <p id="no-comment">No comments</p>
        <%}%>
    </div>

    <%if(logged){%>
        <div id="div-on">
            <form action="" method="post">
                <p id="div-on-p">Any thoughts about the post?</p>
                <textarea id = "comment-area" name = "commentText" required></textarea>
                <button id="div-on-button">Send</button>
            </form>
        </div>
    <%}else{%>
        <div id="div-off">
            <p><a href="../../login">Login</a> to comment</p>
        </div>
    <%}%>

</body>



<footer>
    <p> Developed by Herbert Hipólito - Access my github to more information</p>
</footer>

</html>